[submodule "OCA/connector-telephony"]
	path = OCA/connector-telephony
	url = git@github.com:OCA/connector-telephony.git
	branch = 11.0

[submodule "SythilTech/Odoo"]
	path = SythilTech/Odoo
	url = git@github.com:SythilTech/Odoo.git
	branch = 11.0
